.projects{


padding:100px 0;


background:#f8fafc;


transition:.5s;


}



.dark .projects{


background:#09090b;


}




.projects-container{


max-width:1200px;


margin:auto;


padding:0 30px;


}




.projects h2{


text-align:center;


font-size:45px;


margin-bottom:50px;


}



.dark .projects h2{


color:white;


}





.projects-grid{


display:grid;


grid-template-columns:repeat(3,1fr);


gap:30px;


}




.project-card{


background:white;


border-radius:20px;


overflow:hidden;


border:1px solid #e4e4e7;


transition:.3s;


}



.dark .project-card{


background:#18181b;


border-color:#27272a;


}




.project-card:hover{


transform:translateY(-10px);


}




.project-card img{


width:100%;


height:220px;


object-fit:cover;


}





.project-content{


padding:25px;


}




.project-content h3{


font-size:22px;


margin-bottom:10px;


}



.dark .project-content h3{


color:white;


}




.project-content p{


color:#71717a;


line-height:1.6;


}



.dark .project-content p{


color:#a1a1aa;


}





.tags{


display:flex;


gap:10px;


flex-wrap:wrap;


margin:20px 0;


}




.tags span{


background:#ede9fe;


color:#6d28d9;


padding:6px 12px;


border-radius:20px;


font-size:13px;


}




.dark .tags span{


background:#2e1065;


}




.project-links{


display:flex;


gap:15px;


}




.project-links a{


display:flex;


align-items:center;


gap:7px;


text-decoration:none;


color:#7c3aed;


font-size:14px;


}



@media(max-width:900px){


.projects-grid{


grid-template-columns:repeat(2,1fr);


}


}




@media(max-width:600px){


.projects{


padding:70px 0;


}



.projects h2{


font-size:35px;


}



.projects-grid{


grid-template-columns:1fr;


}


}