.skills{


padding:100px 0;


background:white;


transition:.5s;


}


.dark .skills{


background:#050816;


}



.skills-container{


max-width:1200px;


margin:auto;


padding:0 30px;


text-align:center;


}



.skills h2{


font-size:45px;


margin-bottom:50px;


}


.dark .skills h2{


color:white;


}




.skills-grid{


display:grid;


grid-template-columns:repeat(4,1fr);


gap:25px;


}




.skill-card{


background:#f4f4f5;


border-radius:20px;


padding:35px 20px;


border:1px solid #e4e4e7;


transition:.3s;


}

.skill-card:hover{
transform:scale(1.08);
}



.dark .skill-card{


background:#18181b;


border-color:#27272a;


}




.skill-card svg{


font-size:50px;


color:#8b5cf6;


margin-bottom:15px;


}



.skill-card h3{


font-size:18px;


}



.dark .skill-card h3{


color:white;


}




.skill-card:hover{


box-shadow:

0 0 30px rgba(139,92,246,.25);


}




@media(max-width:900px){


.skills-grid{


grid-template-columns:repeat(2,1fr);


}


}




@media(max-width:500px){


.skills{


padding:70px 0;


}



.skills h2{


font-size:35px;


}


.skills-grid{


grid-template-columns:1fr;


}


}