.contact{


padding:100px 0;


background:white;


transition:.5s;


}



.dark .contact{


background:#050816;


}




.contact-container{


max-width:900px;


margin:auto;


padding:0 30px;


text-align:center;


}




.contact h2{


font-size:45px;


margin-bottom:20px;


}



.dark .contact h2{


color:white;


}




.contact p{


color:#71717a;


margin-bottom:40px;


}




.contact-cards{


display:flex;


justify-content:center;


gap:20px;


flex-wrap:wrap;


margin-bottom:50px;


}





.contact-cards a{


display:flex;


align-items:center;


gap:10px;


padding:18px 25px;


border-radius:15px;


background:#f4f4f5;


text-decoration:none;


color:#18181b;


transition:.3s;


}



.dark .contact-cards a{


background:#18181b;


color:white;


}




.contact-cards svg{


color:#8b5cf6;


}




.contact-cards a:hover{


transform:translateY(-5px);


}





@media(max-width:600px){


.contact{


padding:70px 0;


}



.contact h2{


font-size:35px;


}



.contact-cards{


flex-direction:column;


}


}