.theme-button{


border:none;

cursor:pointer;


padding:10px;


border-radius:50%;


display:flex;

align-items:center;

justify-content:center;


background:#eee;


transition:.3s;


}



.dark .theme-button{

background:#27272a;

color:white;

}



.theme-button:hover{

transform:rotate(20deg);

}